.valid-images{
   width: 35%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
}

.valid-imgs-container {
   margin: 1rem 1rem 1.5rem 1rem;
   width: 100%;
   height: auto;
   display: grid;
   place-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 1rem;
}

.valid-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2px;
   max-width: 75px;
}

.valid-button {
   background-color: black;
   transition: ease-in 0.245s;
   border-radius: 15px;
   cursor: pointer;
   width: inherit;
   aspect-ratio: 1;
   border: none;
   transition: all 0.245s;
}

.valid-button > img {
   transition: ease-out 0.245s;
   width: 100%;
   aspect-ratio: 1;
   border-radius: 15px;
}

.valid-button > img:hover {
   transition: ease-in 0.245s;
   opacity: 0.425;
}

@media (max-width: 700px) {
   .valid-images {
      width: 100%;
   }

   .valid-images > p {
      font-size: 0.75rem;
   }
}